.parentBox {
    width: 995px;
    height: auto;
}

header {
    width: 995px;
    height: 70px;
    background: #00a651;
}

.section1 {
    width: 995px;
    height: 500px;
    background: #7cc576;
    margin: 5px;
}

.section2 {
    width: 995px;
    height: 460px;
    border: 1px solid black;
}

.firstbox {
    width: 325px;
    height: 470px;
    background: #00a651;
    color: white;
    margin: 5px;
    color: white;
    float: left;
}

.secondbox {
    width: 320px;
    height: 460px;
    border: 1px solid black;
    margin: 5px;
    float: left;
}

.top {
    width: 320px;
    height: 230px;
    background: #00a651;
    color: white;
    margin: 5px;
}

.thirdbox {
    width: 310px;
    height: 455px;
    background: #00a651;
    color: white;
    margin: 5px;
    float: right;
}

footer {
    width: 995px;
    height: 150px;
    background: #00a651;
    color: white;
}
